doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="description", content="Личный блог Типотека")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Типотека
    link(rel="preload", href="/fonts/Inter-Regular.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="/fonts/Inter-Medium.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="/fonts/SFProDisplay-Regular.woff2", as="font", crossorigin="anonymous")
    link(rel="stylesheet", href="/css/style.min.css")
    style.
      a.active {
        pointer-events: none;
      }
  body
    mixin date(dateTime)
      time(class!=attributes.class || `preview__time`, datetime=dateTime) #{new Date(dateTime).toLocaleDateString(_, {hour: 'numeric', minute: 'numeric'})}
    mixin pagination(page, totalPages, range, prefix)
      .preview__toggle-wrapper
        ul.preview__pagination.pagination
          li
            a.pagination__button.button.button--backwards(class=(range.start===1 ? `button--disabled` : ``) href=`${prefix}page=${page - 1}`, aria-label="Страница назад") Назад
          while range.index++ < range.end
            li.pagination__item(class=range.index===page ? `pagination__item--active` : ``)
              a(class={active: range.index === page} href=`${prefix}page=${range.index}`)= range.index
          li
            a.pagination__button.button.button--forward(class=(range.end===totalPages ? `button--disabled` : ``) href=`${prefix}page=${page + 1}`, aria-label="Страница вперед") Вперед
    div(class=`${wrapper || `wrapper`}`)
      include partials/header.pug
      block content
      include partials/footer.pug
    script(src="/js/vendor.js")
    script(src="/js/main.js")