extends layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    p.

      Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏

    section.main-page__theme-list
      h2.visually-hidden Список тем
      include partials/themes
      +themes(categories)
    .main-page__section-flex
      section.main-page__hot.hot
        h2.hot__name
          | Самое обсуждаемое 
          span.hot__icon.hot__icon--fire
        if popularArticles
          ul.hot__list
            each article in popularArticles
              li.hot__list-item
                a.hot__list-link(href=`/articles/${article.id}`)
                  | #{article.announce.length > 100 ? `${article.announce.substr(0, 100)}...` : article.announce}
                  sup.hot__link-sup #{article.count}
        else
          p.hot__empty Здесь пока ничего нет...
      section.main-page__last.last
        h2.last__name
          | Последние комментарии 
          span.last__icon.last__icon--cloud
        if lastComments
          ul.last__list
            each comment in lastComments
              li.last__list-item
                img.last__list-image(src=`/img/${comment.users.avatar}`, width="20", height="20", alt="Аватар пользователя")
                b.last__list-name #{comment.users.firstname} #{comment.users.lastname}
                a.last__list-link(href=`/articles/${comment.articleId}`) #{comment.text.length > 100 ? `${comment.text.substr(0, 100)}...` : comment.text}
        else
          p.last__empty Здесь пока ничего нет...
    section.main-page__list.preview
      h2.visually-hidden Список превью статей
      include partials/preview-list
    if withPagination
      +pagination(page, totalPages, range, `?`)