extends ../layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment in comments
          li.publication__list-item
            .publication__header
              img.publication__list-image(src=`/img/${comment.users.avatar}`, width="20", height="20", alt="Аватар пользователя")
              b.publication__list-name #{comment.users.firstname} #{comment.users.lastname}
              +date(comment.createdAt)(class=`publication__item-time`)
            a.publication__item-text(href="#") #{comment.text}
            p.publication__text-strong #{comment.articles.title}
            a.publication__button.button.button--close-item(href=`/my/comments/${comment.articles.id}/${comment.id}`)
              span.visually-hidden Закрыть строку списка